/***************header***************/

header {
	display: flex;
	justify-content: space-between;
}
.mainNav {
	display: flex;
	margin-right: 50px;
	list-style-type: none;
}
.mainNav li {
	margin-left: 40px;
}
/***************main***************/

.mainGrid {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 20px;
}
.mainImg {
	grid-column: 1/3;
}
article {
	display: grid;
	grid-column: 1/2;
}
.photodiary {
	order: -1;
}
.underArticle {
	display: flex;
	flex-wrap: nowrap;
	align-self: stretch;
}
figure img {
	width: 200px;
}
/***************comments***************/

.comments {
	display: grid;
	grid-template-rows: 0.2fr 1fr 0.5fr 0.2fr;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 10px;	
}
.hComments
{
	grid-column: 1;
	grid-row: 1;
}
.userPhoto1 {
	grid-column: 1;
	grid-row: 2;
}
.commentMsg {
	grid-column: 2/5;
	grid-row: 2;
}
.userPhoto2 {
	grid-column: 1;
	grid-row: 3;
}
.leaveComment {
	grid-column: 2/5;
	grid-row: 3;
}
.pShareMedia {
	grid-column: 4;
	grid-row: 4;
}
.shareMedia2 {
	grid-column: 5;
	grid-row: 4;
	list-style-type: none;
	display: flex;
}
textarea {
	width: 400px;
	height: 120px;
}
/***************aside***************/
aside {
	grid-column: 2;
}
/***************footer***************/

footer{
	display: flex;
	justify-content: space-between;
}
/***************lists of links***************/

ul.shareMedia1,
ul.shareMedia3,
ul.shareMedia4,
ul.footerLinks {
	display: flex;
	list-style-type: none;
}

/***************POPUP***************/

/* popup background */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

/* Открытая картинка*/
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  /*Увеличили размер крестика через font*/
  font-size: 40px;
  font-weight: bold;
/*  плавное затухание при наведении*/
  transition: 0.3s;
}

.close:hover,
.close:focus {
  opacity: 0.8;
  /*указали, чтобы курсор был указателем, а не чертой для текста */
  cursor: pointer;
}


